pymaongo,uvicorn,joblib,lightgbm,react-de-speedometer,pydantic,scikit-learn

to start mongo server in powershell- & "C:\Program Files\MongoDB\Server\8.0\bin\mongod.exe" --dbpath "C:\data\db"
to run backend - uvicorn backend.api.main:app --reload
to activate virtual env. - venv\Scripts\activate
to run frontend - npm run dev